/*@media screen and (min-width: 1901px) {
	.MainHeaderBar {
    	background-image: linear-gradient(to left, #3e9d76 -40%, #86c6c2 100%);
	}

	.SetsBacksImgsSecs {
    	height: 700px;
	}
}*/

@media screen and  (min-width: 992px)  {

	.NavMenuListed {
		top: 48px;
	}

	.SetsRigsBtns button {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0;
	    border-radius: 17px;
	    display: inline;
	}

	.FooterRowLayer {
    	position: relative;
    	top: 19em;
	}

	.FootersBacksSets {
	    height: 450px;
	    background-size: cover;
	}

	.FooterLogoBarSet {
		text-align: center!important;
	}

	.SetDataself {
	    transform: translate(-340px, 59px);
	}

	.NavLogo {
		text-align: center;
	}

	.SetOneselfData {
    	transform: translate(-161px, 204px);
	}

	.SetsArtificialsParas {
	    transform: translate(123px, -21px);
	}

	.SetsArtificialsParas img {
    	width: 100%;
	}

	.ThirdEyeMobileSet img {
    	width: 100%;
	}

	.SetButtonPos {
    	position: relative;
    	top: 107px;
	}

	.backgroundSet h2 {
	    margin: 18px 0 40px 0;
	    font-size: 25px;
	}

	.BacksLayersSets {
	    top: 186px;
	    right: -33px;
	}

	.PackageSecSett {
    	margin-top: 1em;
	}
	.NavLogo img {
    	width: 10%;
	}

	.NevbarMenuBtn .navbar-toggler {
		padding: 0 5px;
	}

	.NavMenuList > li > a {
    	color: #000!important;
    	padding: 5px;
	}

	.NavMenuListed {
		position: absolute;
	    top: 56px;
	    background: rgb(255, 255, 255);
        padding: 0 13px;
    	text-align: center;
    	z-index: 1;
	}

	.MainHeaderBar {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #e3f1eb 100%);
	}

	.NevbarMenuBtn button {
		display: none;
	}

	.NevbarMenuBtn button > svg {
		height: 26px;
	}


	.NevbarMenuBtn button:focus , .NevbarMenuBtn button > svg:focus {
		outline: 0;
	}

	.FootersLogoSet {
		font-size: 30px;
	}

	.SideBarBtnSet {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    /*margin: 0 0 0 20px;*/
	    border-radius: 17px;
	    display: inline;
        float: right;
	    top: 11px;
	    position: relative;
	}

	.HeadFontSet h1 {
		padding: 0 15px;
		font-size: 25px;
		font-weight: 600;
	    background: transparent;
        transform: inherit;
        float: left;
	}

	.MainHeadSpan {
		display: block;
	}

	.ParaPotential p {
		padding: 20px 0;
	    font-size: 20px;
	}

	.ParaPotential p span {
    	display: inline;
	}

	.SetRigBtn {
    	text-align: left;
	}

	.SetRigBtn button {
    	background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0 0 0 20px;
	    border-radius: 17px;
	    display: inline;
	}

	.SetsBacksImgsSecs {
		display: none;
	}

	.BackImgImgsSecs {
		background-image: url('../images/lower-screen-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BacksImgsImgsSecs {
		background-image: url('../images/upper-screen-no3-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BackImgImgsChild {
		margin: 0;
	}

	.LeveragingData h2 {
		display: inline-block;
	    margin: 25px 0 0 0;
    	font-size: 20px;
	}



	.LeveragingData {
		display: inline-block;
		width: 88%;
	}


	.SetDecisionImg {
    	background: #c5c5c5ba;
	    padding: 5px;
	    border-radius: 28px;
	    width: 8%;
	    float: left;
	    height: 40px;
	}

	.SetDecisionImg img {
		width: 100%;
	}

	.SetMobileView {
		margin-top: 40px;
	}


	.SetArtificialPara {
		padding: 0;
    	clear: both;
	}

	.SetArtificialPara p {
		margin: 0;
		font-size: 18px;
		font-weight: 600;
	}

	.PricingImgSet {
		text-align: center;
	}

	.PackageDataSet {
	    width: 72%;
	    margin: auto;
	}

	.PricingImgSet img {
    	width: 60%;
	}

	.ThirdEyesHeadCareer {
    	padding: 30px 0 12px 0px;
	}

	.ThirdEyesHeadCareer h2 {
	    font-size: 43px;
	    padding: 0 23px;
	}

	.ThirdEyesCareer p {
    	font-size: 19px;
	    line-height: 1.3;
	    padding: 0 23px;
	}

	.MainRateSet {
    	font-size: 50px;
	}
	
	.MainRateUser {
	    bottom: -33px;
	}

	.backgroundSet {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #6fbaae 100%);
	}
	
	.IntegrationSet h2 {
		margin: 8px 0 36px 0;
    	clear: both;
    	font-size: 33px;
	}

	.ThirdEyesCareer , .SetRigBtn {
	    padding: 30px 0 12px 0px;
	}

	.PackAgeDataSet .col-sm-12 i {
    	font-size: 18px;
	}

	.PricingHead {
		padding: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.PricingHead h3 {
	    display: inline;
	    padding: 6px 15px;
	    font-size: 30px;
	    background-color: transparent;
	}

	.SetEmailData {
    	font-size: 13px;
    	margin: 5px 0 0px 0;
	}

	.SetsEmailsDatas {
		width: 52%;
	}

	.SetPrivacyData {
    	padding: 0;
    	width: 43%;
	}

	.EducatPara {
		display: none;
	}
	.SetIconBar p {
    	font-size: 17px;
    	margin: 0 0 10px 0;
	}

	.SocialIconSet a svg {
	    width: 18px;
    	height: 17px;
	}

	.ThirdPhoneImgData img {
	    width: 100%;
	    z-index: 1;
	    position: relative;
	}

	.ThirdBackLayerSet {
		display: none;
	}

	.BackLayerSets {
	    position: absolute;
	    z-index: -1;
	    right: -19px;
    	bottom: -43px;
	    width: 100%;
	}

	.BacksLayersSets {
		display: none;
	}

	.SideButtonAttech {
    	width: 100%;
    	margin: 0px;
	    position: absolute;
    	bottom: -53px;
    	left: -4px;
	}

	.SetsButtonBarIcon {
    	transform: translate(-6px, 14px);
	}

	.SetBtnsBarsIcon {
    	transform: translate(-3px, 50px);
	}

	.ThirdEyesCareers {
    	transform: translate(0px, 131px);
	}

	.HeadFontSet h1 {
	    font-size: 29px;
	    font-weight: 600;
	    transform: inherit;
	    float: left;
	    background: #51a79b42;
	    padding: 45px 0px 30px 68px;
	}

	.MainHeadSpan {
    	display: inline;
	}

	.NavMenuList li {
    	padding: 0 20px;
	}

	.NavMenuList li a {
		padding: 0;
		color: #fff!important;
	}

	.NavLogo img {
	    width: 25%;
	}

	.NavMenuListed {
    	position: absolute;
    	top: 51px;
    	background: transparent;
    	padding: 0 13px;
    	right: 0;
	}

	.MainHeaderBar {
    	background-image: linear-gradient(to left, #3e9d76 -40%, #86c6c2 100%);
	}

	.ParaPotential p {
    	padding: 23px 0px 20px 51px;
	}

	.SetRigBtn {
    	text-align: center;
	}

	.SetDecisionImg {
		height: auto;
		border-radius: 12px;
	}

	.SetRowUnnamed {
		position: relative;
    	top: 115px;
	}

	.BackImgImgsSecs {
		display: none;
	}

	.SetsBacksImgsSecs {
    	display: block;
	}

	.SetRoobetImgBack {
		background-size: contain;
	}

	.BacksImgsImgsSecs {
		display: none;
	}

	.SetRoobetImgs img {
		width: 69%;
    	margin: 52px 0px 0px 0;
	}

	.SetRoobetImg img {
    	margin: 66px 0 0 10px;
	}

	.ThirdselfDataImg {
	    top: -27px;
	    left: -78px;
	    right: 0;
	    width: 76%;
	}

	.LeveragingsDatas h2 {
    	margin: 18px 0 0 0;
   		font-size: 20px;
    	transform: inherit;
	}

	.SetArtificials p {
    	margin: 14px 0px 0 0px!important;
	}

	.SetRoobetImgBack img {
	    width: 76%;
	    margin: 46px 0 0 0;
	    position: absolute;
	    left: -7px;
	}

	.SetDecisionDataImg {
	    background: #c5c5c5ba;
	    margin-top: 12px;
	    border-radius: 12px;
	    padding: 9px;
	}

	.SetDataself {
    	transform: translate(-171px, 119px);
	}

	.ArtificialsDataImgs {
        transform: translate(226px, -113px);
	}

	.ArtificialsDataImgs img {
    	width: 80%;
	}

	.ButtonBarIcon button {
		padding: 4px 9px 4px 44px;
	}

	.SetsDecisionsImg {
    	background: #c5c5c5ba;
	    margin: 4px 0px 0px 0px;
	}

	.LeveragingDatas h2 {
	    margin: 24px 0 0 0;
    	font-size: 20px;
	}
	.NavsLogos img {
    	width: 28%;
    	vertical-align: middle;
	}

}

@media screen and (min-width: 1200px) {
	.MainHeaderBar {
    	background-image: linear-gradient(to left, #3e9d76 -40%, #86c6c2 100%);
	}

	.ButtonBarIcon button {
    	padding: 4px 9px 4px 26px;
	}

	.SetsRigsBtns button {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0;
	    border-radius: 17px;
	    display: inline;
	}

	.FootersBacksSets {
	    height: 550px;
	    background-size: cover;
	}

	.FooterRowLayer {
    	position: relative;
    	top: 23em;
	}

	.ParaPotential p span {
	    display: inline;
	}

	.SetRoobetImgBack img {
    	width: 56%;
	}

	.FooterLogoBarSet {
		text-align: center!important;
	}

	.HeadFontSet h1 {
	    font-size: 53px!important;
	    font-weight: 600!important;
	    transform: inherit!important;
	    float: left!important;
	    background: #51a79b42!important;
	    padding: 45px 0px 30px 125px!important;
	}

	.ParaPotential p {
    	padding: 23px 0px 20px 107px!important;
    	font-size: 30px!important;
	}

	.SetRigBtn button{
		padding: 9px 21px!important;
	}

	.ThirdEyeMobileSet img {
    	width: auto!important;
	}

	.ArtificialsDataImgs img {
	    width: 82%;
	}

	.SetsArtificialsParas {
    	transform: translate(138px, -24px);
	}

	.SetsArtificialsParas img {
		width: 75%;
		position: absolute;
    	top: -23px;
    	right: 0;
	}

	.NavMenuList li {
    	padding: 0 12px;
	}

	.SetRoobetImgBack img {
	    width: 75%;
	    margin: 29px 0 0 0;
	}

	.SetRoobetImgs img {
    	width: 59%;
    }

	.NavMenuList li {
    	padding: 0 12px;
	}

	.HeadFontSet h1 {
	    transform: translate(-56px, 0);
	}
	.SetBtnPos {
		transform: translate(93px, 10px);
	}

	.SetsBtnsPos {
		transform: translate(222px, 40px);
	}

	.SetsBtnsPoses {
		transform: translate(21px, 73px);
	}

	.SetButtonsIcon {
	    margin: 13px 7px;
    	transform: translate(-53px, 11px);
	}

	.SetOneselfData {
    	transform: translate(-160px, 170px);
	}

	.SetRoobetImg img {
	    width: 75%;
	    margin: 68px 0 0 44px;
	}

	.ThrivingDataThird {
    	margin: 44px 0 0 29px;
	}

	.SetArtificialPara p {
    	margin: 14px 0px 0 0px;
	}

	.SocialIconSet a svg {
    	width: 26px;
    	height: 23px;
	}

	.ArtificialsDataImgs {
        transform: translate(110px, -2px);
	    text-align: right;
	    position: absolute;
	    right: 0;
	}

	.SetArtificials p {
    	margin: 14px 0px 0 -9px!important;
	}

	.SetsButtonsIcons {
		margin: 13px 7px;
    	transform: translate(-48px, 78px);
	}
	.BacksLayersSets {
    	top: 186px;
    	right: -35px;
	}

	.DisclaimerData {
		padding: 30px 0 0 0;
	}

	.ParaPotential p {
	    padding: 23px 0px 20px 89px;
	}

	.ButtonBarsIcon {
    	transform: translate(-1px, -1px);
	}
	.FooterLogoBarSet {
		text-align: center!important;
	}

	.NavsLogos img {
    	width: 20%!important;
	}

	.SetDataself {
    	transform: translate(-160px, 80px)!important;
	}
}

@media screen and (min-width: 1440px) {
	.NavLogo img {
	    width: 25%;
	    vertical-align: -webkit-baseline-middle;
	}

	.ButtonBarIcon button {
	    padding: 4px 9px 4px 45px;
	}

	.SetsRigsBtns button {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0;
	    border-radius: 17px;
	    display: inline;
	}

	.LeveragingDatas h2 {
    	font-size: 20px;
	}

	.SetPrivacyData ul li {
	    font-size: 16px;
	}

	.SetEmailData {
    	font-size: 16px;
	}

	.NavsLogos img {
    	width: 20%;
    	vertical-align: -webkit-baseline-middle;
	}

	.FootersLogoSet {
    	font-size: 33px;
	}

	.ThirdEyesHeadCareer h2 {
    	font-size: 60px;
    	padding: 0 23px;
	}

	.ThirdEyesCareer p {
    	font-size: 35px;
	}

	.FooterRowLayer {
    	position: relative;
    	top: 33em;
	}

	.FootersBacksSets {
    	height: 730px;
    	background-size: cover;
	}

	.ThirdselfDataImg {
	    width: 79%;
	    position: absolute;
	    top: 3px;
        left: -29px;
	}
	.HeadFontSet h1 {
		transform: translate(-58%, 10px);
		padding: 45px 0px 30px 68px;
	}

	.NavMenuList li {
    	padding: 0 30px;
	}

	.ArtificialsDataImgs img {
    	width: 66%;
	}

	.ArtificialsDataImgs {
	    text-align: right;
	    position: absolute;
	    right: 0;
	}

	.SetRoobetImgBack img {
	    width: 90%;
	    margin: 60px 0 0 0;
	}

	.SetRoobetImgs img {
		width: 59%;
	}

	.SetArtificialPara p {
		margin: 14px 0px 0 0px;
	}

	.SetOneselfData {
    	transform: translate(-152px, 182px);
	}

	.SetsArtificialsParas {
        transform: translate(138px, -28px);
	    float: right;
	    position: absolute;
	    right: 0;
	}

	.SetsArtificialsParas img {
		width: 82%;
    	float: right;
	}

	.SetRoobetImg img {
    	width: 85%;
    	margin: 116px 0 0 62px;
	}

	.SetsBacksImgsSecs {
    	margin-top: 0px;
	}

	.DataArtificialsImgs {
		transform: translate(-66px, -33px);
	}

	.DataArtificialsImgs img {
    	width: 90%;
	}

	.DataDecisionsImgs {
    	background: #c5c5c5ba;
	}


	.SetArtificials p {
    	margin: 14px 0px 0 0px!important;
	}

	.ThrivingDataThird {
    	margin: 44px 0 0 0px;
	}

	.BacksLayersSets {
		top: 282px;
	}

	.BackLayerSets {
		right: -127px;
		bottom: 53px;
	}

	.BackLayerSet {
		left: 62px;
		top: 57px;
	}
	.SetBtnPos {
		transform: translate(93px, 10px);
	}

	.SetsBtnsPos {
		transform: translate(222px, 40px);
	}

	.SetsBtnsPoses {
		transform: translate(21px, 73px);
	}

	.SetButtonsIcon {
	    margin: 13px 7px;
    	transform: translate(-53px, 11px);
	}

	.SetsButtonsIcons {
		margin: 13px 7px;
    	transform: translate(-48px, 78px);
	}

	.ButtonBarsIcon {
		transform: translate(94px, 10px);
	}
	.SetsButtonBarIcon {
		transform: translate(-46px, 36px);
	}

	.SetBtnsBarsIcon {
		transform: translate(-41px, 116px);
	}

	.ThirdEyesCareers {
		transform: translate(0px, 250px);
	}

	.PackageSecSett {
		clear: both;
    	margin-top: 6em;
	}
	.BacksLayersSets {
	    position: absolute;
	    z-index: -1;
	}

	.SetsArtificialsParas img {
    	width: 55%!important;
	}

	.SetRoobetImg img {
    	width: 70%!important;
    	margin: 50px 0 0 44px!important;
	}

	.ThirdselfDataImg {
	    top: -16px!important;
	    left: -85px!important;
	    right: 0!important;
	    width: 58%!important;
	}

	.SetRoobetImgBack img {
	    width: 75%;
	    margin: 42px 0 0 0;
	    position: absolute!important;
	    left: -7px!important;
	}

	.ThrivingDataThird {
    	margin: 44px 0 0 47px!important;
    	padding: 0 0 0 21px;
	}

	.ArtificialsDataImgs {
    	transform: translate(110px, 0px)!important;
	}

	.SetRowUnnamed {
	    position: relative!important;
	    top: 83px!important;
	    left: -35px!important;
	}

	.ThirdselfData {
    	transform: translate(78px, 157px)!important;
	}

	.SetDataself {
    	transform: translate(-174px, 59px)!important;
	}

	.SetRoobetImgBack {
    	background-size: contain!important;
	}

	.ArtificialsDataImgs img {
    	width: 50%!important;
	}

	.FooterLogoBarSet {
		text-align: center;
	}

	.FooterLogoBarSet {
		text-align: center!important;
	}
}

@media screen and (min-width: 1800px) {
	.ButtonBarIcon button {
	    padding: 4px 9px 4px 75px;
	}
}

/*---------Set the landscape view-------*/

@media screen and (max-width: 991px) {
	.SetsArtificialsParas {
	    transform: translate(113px, 5px);
	}

	.ButtonBarIcon {
		text-align: center;
	}

	.ButtonBarIcon button {
    	padding: 6px 25px;
    	width: 85%;
	}

	.SetsRigsBtns button {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0;
	    border-radius: 17px;
	    display: inline;
	}

	.MainRateSet {
    	font-size: 30px;
    	color: #695e5e;
	}

	.MainRateUser {
    	position: relative;
    	bottom: -13px;
	}

	.LeveragingData h2 , .LeveragingsDatas h2 , .LeveragingDatas h2 {
		font-size: 20px;
	}

	.FooterLogoBarSet {
		text-align: center!important;
	}

	.FootersBacksSets {
	    height: 500px;
	    background-position: right;
	    background-size: cover;
	}

	.FooterRowLayer {
	    position: relative;
	    top: 19em;
	}

	.SetButtonPos {
    	position: relative;
    	top: 0;
	}

	.SetOneselfData {
	    transform: translate(-157px, 41px);
	}

	.SetsDecisionsImg {
		margin: 9px;
	}

	.NavMenuList ul {
		width: 100%;
    	justify-content: flex-end;
	}

	.HeadFontSet h1 {
		padding: 45px 0px 30px 50px;
	}

	.ParaPotential p span {
		display: inline-block;
	}

	.NavLogo img {
    	width: 25%;
	}

	.NavMenuList li {
    	padding: 0px;
	}

	.SetRoobetImgs img {
	    width: 70%;
	    position: absolute;
	    top: 39px;
	}
	.SetDecisionImg {
    	height: auto;
    	border-radius: 12px;
    	margin-top: 23px;
	}

	.LeveragingsDatas img {
		width: 45%;
		float: right;
	}

	.SetRowUnnamed {
		padding-top: 63px;
	}

	.SetRoobetImg img {
    	width: 100%;
    	margin: 62px 0 0 0px;
	}

	.ThirdselfData {
	    transform: translate(93px, 27px);
	}

	.ThirdselfDataImg {
    	width: 100%;
    	top: 9px;
    	left: -73px;
	}

	.SetArtificials p {
    	margin: 14px 0px 0 0px!important;
	}
	.LeveragingsDatas h2 {
	    margin: 12px 0 0 0;
    	transform: initial;
	}

	.ThrivingDataThird {
    	margin: 44px 0 0 0px;
	}

	.SetDecisionDataImg {
		margin-top: 24px;
	}

	.SetRoobetImgBack img {
	    width: 100%;
	    margin: 45px 0 0px 0;
	    padding: 0;
	}

	.ArtificialsDataImgs {
    	transform: translate(135px, -52px);
	}

	.ArtificialsDataImgs img {
    	width: 100%;
	}

	.SetDataself {
	    transform: translate(-214px, 41px);
	}

	.PricingHead {
		margin: 0;
	}

	.ThirdEyesCareers {
    	transform: translate(0px, 131px);
	}

	.FooterLogoBarSet {
		text-align: center;
	}

	.NavsLogos img {
    	width: 30%;
	}

	.backgroundSet h2 {
    	margin: 18px 0 40px 0;
    	font-size: 25px;
	}

	.ButtonBarsIcon {
	    right: -47px;
	    top: 5px;
	    transform: inherit;
	    position: relative;
	}

	.SetsButtonBarIcon {
	    transform: inherit;
	    position: absolute;
	    top: 182px;
    	right: 5px;
	}

	.SetBtnsBarsIcon {
        top: 127px;
	    position: absolute;
	    text-align: inherit;
	    left: -7px;
	}

	.SideBarBtnSet {
		display: none;
	}
	.BacksLayersSets {
    	top: 72px;
    	right: -12px;
    	display: block;
	}

	.ParaPotential p {
    	padding: 23px 0px 20px 39px;
	}

	.BackLayerSet {
    	left: -9px;
    	top: 18px;
	}

	.BackLayerSets {
    	right: -70px;
    	bottom: 11px;
	}

	.ThirdBackLayerSet {
    	bottom: 0px;
	}

	.NavMenuList {
	    width: 100%;
    	justify-content: flex-end;
	}

	.ThirdEyeSecData  {
	    background-size: cover;
	}
}

/*--------------------------------------*/

/*---------767px lapis set-------*/
@media screen and (max-width: 767px) {
 	.SideBarBtnSet {
 		display: inline-block;
 		background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    border-radius: 17px;
	    display: inline;
	    float: right;
	    top: 13px;
	    position: relative;
 	}

 	.FootersBacksSets {
	    height: 444px;
	    background-position: right;
        background-size: cover;
 	}

 	.FooterRowLayer {
    	position: relative;
    	top: 14.5em;
	}

 	.SetButtonPos {
    	position: relative;
    	top: 0;
	}		

 	.ButtonBarIcon {
		text-align: center;
	}

	.ButtonBarIcon button {
	    padding: 6px 46px;
	    cursor: pointer;
	    width: 40%;
	}

 	.BacksImgsImgsSecs {
	    background-image: url(../images/lower-screen-bgcurve.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
 	}

 	.ThirdEyesHeadCareer h2 {
    	font-size: 28px;
	}
	.ThirdEyesCareer p {
    	font-size: 19px;
	}

	.MainRateUser {
    	bottom: -14px;
    	font-size: 16px!important;
	}

	.MainRateSet {
    	font-size: 28px!important;
	}

 	.SetArtificialPara p {
	    clear: both;
 	}

 	.LeveragingData {
 		width: 88%;
    	float: right;
 	}

 	.LeveragingData h2 {
	    margin: 12px 0 0 0;
    	font-size: 22px;
 	}

 	.SetLowerSet {
 		padding: 0;
 	}

 	.SetLowerSet img {
    	width: 100%;
    	height: 130px;
	}

 	.SetLayeViewPhone {
 		display: none;
 	}

 	.NevbarMenuBtn button {
    	top: 35px;
	}

 	.FootersLogoSet {
	    font-size: 19px;
 	}

 	.HeadFontSet h1 {
	    padding: 15px 0px 15px 42px;
	    font-size: 29px;
	    transform: translate(-5px, 0);
	}

	.ThirdBackLayerSet {
		display: none;
	}

	.ParaPotential p {
	    padding: 5px 24px;
	    font-size: 17px;
	}		

	.SetRigBtn button {
		padding: 8px 7px;
    	font-size: 14px;
	}

 	.NevbarMenuBtn button svg {
 		height: 25px;
 	}

	.NavLogo {
    	width: 85%;
	    padding: 0;
	}

 	.NavLogo img {
    	width: 12%;
	}

	.SetRoobetImgs img {
    	width: 32%;
	}

	.SetBsckImgSec > .row {
    	padding: 31px 0 0 7px;
	}

	.SetsBacksImgsSecs {
    	background-size: 50% 50%;
    	margin-top: 0;
	} 

	.ParaPotential p span {
    	display: block;
	}

	.BackImgImgsSecs {
	    background-image: url(../images/lower-screen-bgcurve.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.NavMenuList li a {
    	padding: 0;
    	color: #000!important;
	}

	.NevbarMenuBtn button {
		border: 0;
	}

	.NevbarMenuBtn button:focus {
		outline: 0;
	}

	.NavMenuListed {
    	position: absolute;
	    top: 85px;
	    background: rgb(255, 255, 255);
	    padding: 0 5px;
	    text-align: center;
	    z-index: 1;
	    left: 28px;
	    right: auto;
	    border: 0;
	    width: 17%;
	}

	.NavMenuList li {
    	padding: 0;
	}

	.SetDecisionImg {
	    background: #c5c5c5ba;
	    padding: 7px;
	    border-radius: 37px;
	    width: 10%;
	    float: left;
	    height: auto;
	    margin: 0;
	}

	.SetMobileView {
    	margin-top: 20px;
	}

	/*.NavLogo img {
    	width: 11%;
	}*/

	.SideButtonAttech {
	    position: absolute;
	    top: 177px;
	    left: -4px;
	    right: 0px;
	    transform: translate(-33px, 15px);
	}

	.BackLayerSet {
    	left: -25px;
    	top: -29px;
	}

	.SetsButtonBarIcon {
    	transform: translate(29px, -4px);
	}

	.SetBtnsBarsIcon {
    	transform: translate(32px, 28px);
	}

	.SetPrivacyData ul li {
    	padding: 3px 0px;
	}

	.NavsLogos img {
    	width: 27%;
	}

	.MainHeadSpan {
    	display: block;
	}

	.FooterLogoBarSet {
    	text-align: center;
	}

	/*.ThirdEyeSecondImg .ThirdEyeSecondChild {
    	bottom: 48px;
	}*/

	.BacksLayersSets {
    	top: 63px;
	}

	.SetsButtonBarIcon {
	    top: -53px;
    	right: 0px;
	}

	.SetBtnsBarsIcon {
    	top: -28px;
	}

	.ButtonBarsIcon {
    	right: -49px;
	    top: 50px;
	    position: relative;
	}

	.SetsDecisionsImg {
		margin: 21px 3px 33px 7px;
	}
}

/*--------------------------------*/

/*---------Small Device 575px-------*/

@media screen and (max-width: 575px) {
	.NavLogo {
	    width: 85%;
	}

	.FooterBgSet {
		background-image: url(../images/Footerbg.png);
	}

	.FooterRowLayer {
    	position: relative;
    	top: 10em;
	    background-size: cover;
	}

	.SetButtonPos {
    	position: relative;
    	top: 0;
	}

	.FootersBacksSets {
    	height: 430px;
    	background-position: bottom;
    	background-size: cover;
	}

	.ButtonBarIcon {
		text-align: center;
	}

	.ButtonBarIcon button {
	    padding: 6px 40px;
	    cursor: pointer;
	    width: 50%;
	}

	.SetsButtonBarIcon {
    	top: -53px;
    	right: 1px;
	}

	.NavMenuList li {
    	text-align: center;
	}

	.FooterLogoBarSet {
		text-align: center;
	}

	.SetPrivacySec > .row {
		margin: 0;
	}

	.PackageSecSett {
    	margin-top: 1em;
	}

	.NavsLogos img {
    	width: 13%;
	}

	/*.NavLogo img {
    	width: 10%;
	}*/

	.NevbarMenuBtn .navbar-toggler {
		padding: 0 5px;
	}

	.NavMenuList > li > a {
    	color: #000!important;
    	padding: 5px;
	}

	.NavMenuListed {
		position: absolute;
	    top: 67px;
	    background: rgb(255, 255, 255);
	    padding: 0 5px;
	    text-align: left;
	    z-index: 1;
	    right: auto;
	    left: 5px;
	    width: 25%;
	}

	.MainHeaderBar {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #e3f1eb 100%);
	}

	.NevbarMenuBtn button {
		border: 0;
		top: 20px;
	}

	.NevbarMenuBtn button > svg {
		height: 26px;
	}


	.NevbarMenuBtn button:focus , .NevbarMenuBtn button > svg:focus {
		outline: 0;
	}

	.FootersLogoSet {
		font-size: 21px;
	}

	.SideBarBtnSet {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    border-radius: 17px;
	    display: inline;
        float: right;
	    top: 11px;
	    position: relative;
	}

	.HeadFontSet h1 {
		padding: 0 15px;
		font-size: 25px;
		font-weight: 600;
	    background: transparent;
        transform: inherit;
        float: left;
	}

	.MainHeadSpan {
		display: block;
	}

	.ParaPotential p {
		padding: 20px 0 0 16px;
	    font-size: 20px;
	}

	.ParaPotential p span {
    	display: inline;
	}

	.SetRigBtn {
    	text-align: left;
	}

	.SetRigBtn button {
    	background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0 0 0 27px;
	    border-radius: 17px;
	    display: inline;
	}

	.SetsBacksImgsSecs {
		display: none;
	}

	.BackImgImgsSecs {
		background-image: url('../images/lower-screen-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BacksImgsImgsSecs {
		background-image: url('../images/upper-screen-no3-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BackImgImgsChild {
		margin: 0;
	}

	.LeveragingData h2 {
		display: inline-block;
	    margin: 4px;
    	font-size: 20px;
	}

	.LeveragingsDatas img {
		width: 45%;
		float: right;
	}

	.LeveragingData {
		display: inline-block;
		width: 88%;
	}


	.SetDecisionImg {
    	background: #c5c5c5ba;
        padding: 3px;
	    border-radius: 28px;
	    width: 9%;
	    float: left;
	    height: auto;
	}

	.SetDecisionImg img {
		width: 100%;
	}

	.SetMobileView {
		margin-top: 24px;
		padding: 0 36px;
	}


	.SetArtificialPara {
		padding: 0;
    	clear: both;
	}

	.SetArtificialPara p {
		margin: 0;
		font-size: 18px;
		font-weight: 600;
	}

	.PricingImgSet {
		text-align: center;
	}

	.PackageDataSet {
	    width: 72%;
	    margin: auto;
	}

	.PricingImgSet img {
    	width: 60%;
	}

	.ThirdEyesHeadCareer {
    	padding: 30px 0 12px 0px;
	}

	.ThirdEyesHeadCareer h2 {
	    font-size: 28px;
    	padding: 0 23px;
	}

	.ThirdEyesCareer p {
    	font-size: 19px;
	    line-height: 1.3;
	    padding: 0 23px;
	}

	.MainRateSet {
    	font-size: 33px!important;
	}
	
	.MainRateUser {
	    bottom: -13px;
	}

	.backgroundSet {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #6fbaae 100%);
	}
	
	.backgroundSet h2 {
		margin: 8px 0 36px 0;
    	clear: both;
    	font-size: 21px;
	}

	.ThirdEyeSecondImg .ThirdEyeSecondChild {
	    width: 100%;
	    border-radius: 21px;
	    bottom: 106px;
	    left: -68px;
	    position: relative;
	}

	.ThirdEyesCareer , .SetRigBtn {
	    padding: 30px 0 12px 0px;
	}

	.PackAgeDataSet .col-sm-12 i {
    	font-size: 18px;
	}

	.PricingHead {
		padding: 0;
	}

	.PricingHead h3 {
	    display: inline;
	    padding: 6px 15px;
	    border-radius: 0px 24px 24px 32px;
	    background-image: linear-gradient(to top, #99cbb8 -40%, #83c8d0 100%);
	    font-size: 19px;
	}

	.SetEmailData {
    	font-size: 13px;
    	margin: 5px 0 0px 0;
	}

	.SetsEmailsDatas {
		width: 52%;
	}

	.SetPrivacyData {
    	/*padding: 0;*/
    	width: 43%;
	}

	.EducatPara {
		display: none;
	}

	.SetIconBar p {
    	font-size: 14px;
	}

	.SocialIconSet a svg {
	    width: 20px;
    	height: 20px;
	}

	.BackLayerSet {
	    width: 100%;
	    left: -63px;
	    z-index: 0;
	    top: -29px;
	}

	.ThirdPhoneImgData img {
	    width: 100%;
	    z-index: 1;
	    position: relative;
	}

	.ThirdBackLayerSet {
		display: none;
	}

	.BackLayerSets {
	    position: absolute;
	    z-index: -1;
	    right: -19px;
    	bottom: -43px;
	    width: 100%;
	}

	.BacksLayersSets {
		display: none;
	}

	.SideButtonAttech {
    	width: 100%;
    	margin: 0px;
	    position: absolute;
	    top: 150px;
    	left: -3px;
	}


	.ButtonBarsIcon {
	    right: 58px;
    	top: 54px;
    	transform: translate(94px, 10px);
	}


	.SetDataDigital {
    	padding: 0 0 0 15px;
	}

	.SetsButtonBarIcon {
    	transform: translate(31px, -13px);
	}

	.SetBtnsBarsIcon {
    	transform: translate(33px, 4px);
    	top: -26px;
	    left: 0;
	}

	.ThirdEyesCareers {
    	transform: inherit;
	}
}

/*----------------------------*/


/*---------414px min set-------*/

@media screen and (max-width: 414px) {
	.NavLogo {
    	width: 80%;
    	padding: 0;
	}



	.NavLogo img {
    	width: 14%;
	}

	.FootersBacksSets {
    	height: 420px;
    	background-position: bottom;
	    background-size: cover;
	    background-image: url(../images/Footerbg.png);
	}

	.ButtonBarIcon {
		text-align: center;
	}

	.ButtonBarIcon button {
	    padding: 6px 40px;
	    cursor: pointer;
	    width: 68%;
	}

	.NevbarMenuBtn button {
    	top: 12px;
	}

	.FooterLogoBarSet {
		text-align: center;
	}

	.PackageSecSett {
    	margin-top: 1em;
	}


	.NevbarMenuBtn .navbar-toggler {
		padding: 0 5px;
	}

	.NavMenuList > li > a {
    	color: #000!important;
    	padding: 5px;
	}

	.NavMenuListed {
		position: absolute;
	    top: 58px;
	    background: rgb(255, 255, 255);
        padding: 0 5px;
    	text-align: center;
    	z-index: 1;
    	left: 20px;
    	right: auto;
    	width: 35%;
	}

	.MainHeaderBar {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #e3f1eb 100%);
	}

	.NevbarMenuBtn button {
		border: 0;
	}

	.NevbarMenuBtn button > svg {
		height: 26px;
	}


	.NevbarMenuBtn button:focus , .NevbarMenuBtn button > svg:focus {
		outline: 0;
	}

	.FootersLogoSet {
		font-size: 21px;
	}

	.SideBarBtnSet {
	    background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    border-radius: 17px;
	    display: inline;
        float: right;
	    top: 11px;
	    position: relative;
	}

	.HeadFontSet h1 {
		padding: 0 20px;
		font-size: 25px;
		font-weight: 600;
	    background: transparent;
        transform: translate(-5px, 0);
	}

	.MainHeadSpan {
		display: block;
	}

	.ParaPotential p {
		padding: 20px 0 0 15px;
	    font-size: 20px;
	}

	.ParaPotential p span {
    	display: inline;
	}

	.SetRigBtn {
    	text-align: left;
	}

	.SetsRigsBtns button {
    	background-color: #38996d!important;
	    border-color: #38996d!important;
	    color: #fff;
	    padding: 4px 10px;
	    font-size: 13px;
	    letter-spacing: 1px;
	    margin: 0;
	    border-radius: 17px;
	    display: inline;
	}

	.SetsBacksImgsSecs {
		display: none;
	}

	.BackImgImgsSecs {
		background-image: url('../images/lower-screen-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BacksImgsImgsSecs {
		background-image: url('../images/upper-screen-no3-bgcurve.png');
	    background-size: contain;
	    background-repeat: no-repeat;
	    z-index: 0;
	    width: 100%;
	    display: block;
	    padding: 0;
	}

	.BackImgImgsChild {
		margin: 0;
	}

	.LeveragingData h2 {
		display: inline-block;
	    margin: 4px;
    	font-size: 20px;
	}

	.LeveragingsDatas img {
		width: 45%;
		float: right;
	}

	.LeveragingData {
		display: inline-block;
		width: 88%;
	}


	.SetDecisionImg {
    	background: #c5c5c5ba;
	    padding: 5px;
	    border-radius: 28px;
	    width: 12%;
	    float: left;
	    height: 40px;
	}

	.SetDecisionImg img {
		width: 100%;
	}

	.SetArtificialPara {
		padding: 0;
    	clear: both;
	}

	.SetArtificialPara p {
		margin: 0;
		font-size: 18px;
		font-weight: 600;
	}

	.PricingImgSet {
		text-align: center;
	}

	.PackageDataSet {
	    width: 72%;
	    margin: auto;
	}

	.PricingImgSet img {
    	width: 60%;
	}

	.ThirdEyesHeadCareer {
    	padding: 30px 0 12px 0px;
	}

	.ThirdEyesHeadCareer h2 {
	    font-size: 25px;
    	padding: 0 23px;
	}

	.ThirdEyesCareer p {
    	font-size: 17px;
	    line-height: 1.3;
	    padding: 0 23px;
	}

	.MainRateSet {
    	font-size: 33px!important;
	}
	
	.MainRateUser {
	    bottom: -13px;
	}

	.backgroundSet {
	    background-image: linear-gradient(to top, #3e9d76 -40%, #6fbaae 100%);
	}
	
	.backgroundSet h2 {
		margin: 8px 0 36px 0;
    	clear: both;
    	font-size: 21px;
	}

	.ThirdEyeSecondChild {
	    width: 100%;
	    border-radius: 21px;
	    bottom: 70px;
	    left: -68px;
	    position: relative;
	}

	.ThirdEyesCareer , .SetRigBtn {
	    padding: 30px 0 12px 0px;
	}

	.PackAgeDataSet .col-sm-12 i {
    	font-size: 18px;
	}

	.PricingHead {
		padding: 0;
	}

	.PricingHead h3 {
	    display: inline;
	    padding: 6px 15px;
	    border-radius: 0px 24px 24px 32px;
	    background-image: linear-gradient(to top, #99cbb8 -40%, #83c8d0 100%);
	    font-size: 19px;
	}

	.SetEmailData {
    	font-size: 14px;
    	margin: 5px 0 0px 0;
	}

	.SetsEmailsDatas {
		width: 52%;
		padding: 0;
	}

	.SetPrivacyData {
    	/*padding: 0;*/
    	width: 43%;
	}

	.EducatPara {
		display: none;
	}

	.SetIconBar p {
    	font-size: 15px;
	}

	.SocialIconSet a svg {
	    width: 22px;
    	height: 22px;
	}

	.BackLayerSet {
	    width: 100%;
	    left: -63px;
	    z-index: 0;
	    top: -29px;
	}

	.ThirdPhoneImgData img {
	    width: 100%;
	    z-index: 1;
	    position: relative;
	}

	.ThirdBackLayerSet {
		display: none;
	}

	.BackLayerSets {
	    position: absolute;
	    z-index: -1;
	    right: -19px;
    	bottom: -43px;
	    width: 100%;
	}

	.BacksLayersSets {
		display: none;
	}
	.SetsButtonBarIcon {
    	transform: translate(33px, -18px);
	}

	.SetBtnsBarsIcon {
    	transform: translate(34px, -12px);
	}

	.ThirdEyesCareers {
    	transform: inherit;
	}
	.SetsButtonBarIcon {
    	top: -52px;
    	right: 0px;
	}

	.SetBtnsBarsIcon {
    	top: -28px;
	    left: 1px;
	    position: relative;
	}

}

@media screen and (max-width: 411px) {
	.ButtonBarsIcon {
    	top: 22px;
	}

	.ButtonBarIcon button {
    	padding: 6px 40px;
    	cursor: pointer;
    	width: 88%;
	}
}

@media screen and (max-width: 375px) {
	.SetsButtonBarIcon {
	    top: -55px;
	    right: -2px;
	}

	.ButtonBarIcon button {
    	padding: 6px 40px;
    	cursor: pointer;
    	width: 88%;
	}

	.SetBtnsBarsIcon {
    	top: -30px;
	}

	.NevbarMenuBtn {
		padding: 0;
	}
	
	.NevbarMenuBtn button {
    	top: 15px;
	}

	.NavMenuListed {
		position: absolute;
	    top: 67px;
	    background: rgb(255, 255, 255);
	    padding: 0 5px;
	    text-align: left;
	    z-index: 1;
	    right: auto;
	    left: 5px;
	    /*width: 25%;*/
	}

	.SetDecisionImg {
	    background: #c5c5c5ba;
	    padding: 3px;
	    border-radius: 28px;
	    width: 12%;
	    float: left;
	    height: auto;
	}
}

@media screen and (max-width: 340px) {
	.NavLogo img {
    	width: 16%;
	}

	.ButtonBarIcon button > img {
		display: none;
	}

	.NavLogo {
    	width: 87%;
	    margin: 0;
	}

	.NevbarMenuBtn button > svg {
    	height: 19px;
	}

	.SideBarBtnSet {
		padding: 2px 5px;
	}

}